{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-export-extensions",
        "transform-object-assign",
        "transform-object-rest-spread"
    ],
    "sourceMaps": true
}