{
    "presets": [
        "@ava/stage-4",
        "@ava/transform-test-files",
        "es2015-no-commonjs"
    ],

    "plugins": [
        "transform-export-extensions",
        "transform-object-assign",
        "transform-object-rest-spread"
    ],
    "sourceMaps": true,

    "env": {
        "bundle": {
            "plugins": [
                ["transform-runtime", {
                    "polyfill": true,
                    "regenerator": false
                }]
            ]
        },
        "cjs": {
            "plugins": [
                "add-module-exports",
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}
