*.seed
*.log
*.dat
*.out
*.pid
*.gz
.idea
*.sublime-project
*.sublime-workspace
*.sublime-workspace
.DS_Store

.env

node_modules
dist
package-lock.json
coverage
coverage.lcov
.nyc_output
yarn.lock
docs/build/
docs/_build/
docs/build/
