*.seed
*.log
*.dat
*.out
*.pid
*.gz
.idea
*.sublime-project
*.sublime-workspace
*.sublime-workspace
.DS_Store
.vscode

.env

node_modules
package-lock.json
coverage
coverage.lcov
.nyc_output
yarn.lock

docs/build/
