sudo: required

services:
    - docker

language: node_js

node_js: 7

cache:
    directories:
        - node_modules

env:
  global:
    - DOCKER_COMPOSE_VERSION=1.19.0

before_install:
  - .ci/travis-before-install

install:
  - .ci/travis-install.sh

before_script:
  - .ci/travis-before-script.sh
  - gem install cowsay
  - npm install -g codecov

script: yarn test

notifications:
    email: false
