{
  "presets": [["@babel/preset-env"]],
  "plugins": [
    "@babel/plugin-syntax-async-generators",
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "helpers": true,
        "regenerator": true
      }
    ],
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-async-to-generator"
  ]
}
